/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* line 100, ../sass/_base.scss */
a {
  color: inherit;
}
/* line 102, ../sass/_base.scss */
a:hover {
  color: #f284a5;
}

/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 31, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 34, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 49, ../sass/pages.scss */
#header {
  position: fixed;
  width: 960px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
  margin: 0 10px;
  background-color: white;
  z-index: 10;
  border-bottom: thin solid black;
  /*
  border-bottom: thin solid white;
  &.border-bottom {
    border-bottom: thin solid black;
  }

  -webkit-transition: border-bottom 0.25s ease;
  -moz-transition: border-bottom 0.25s ease;
  -ms-transition: border-bottom 0.25s ease;
  -o-transition: border-bottom 0.25s ease;
  transition: border-bottom 0.25s ease;
  */
}
/* line 63, ../sass/pages.scss */
#header a:link,
#header a:visited {
  color: #000;
  text-decoration: none;
}
/* line 69, ../sass/pages.scss */
#header a:hover,
#header a:focus {
  text-decoration: underline;
}

/* line 89, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  margin: 0;
  padding: 0;
}
/* line 94, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 99, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  position: absolute;
  left: 10px;
  bottom: 20px;
  text-indent: -9999px;
  background-size: 100px;
  width: 100px;
  height: 22.17423px;
  background-image: url(../images/you-me-logo-b-w.png);
}
/* line 114, ../sass/pages.scss */
#name-and-slogan a {
  display: block;
  height: 100%;
  width: 100%;
  background-size: 100px;
  background-image: url(../images/you-me-logo-colour.png);
  opacity: 0;
  -webkit-transition: opacity .08s linear;
  -moz-transition: opacity .08s linear;
  -ms-transition: opacity .08s linear;
  -o-transition: opacity .08s linear;
  transition: opacity .08s linear;
}
/* line 131, ../sass/pages.scss */
#name-and-slogan a:hover {
  opacity: 1;
}

/* line 138, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  display: block;
  height: 100%;
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

/* line 146, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 151, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/* line 154, ../sass/pages.scss */
#block-system-main-menu {
  margin: 0;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
/* line 159, ../sass/pages.scss */
#block-system-main-menu .block-title {
  display: none;
}
/* line 162, ../sass/pages.scss */
#block-system-main-menu .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 166, ../sass/pages.scss */
#block-system-main-menu .menu li {
  margin-left: 10px;
  display: inline;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 190, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 191, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 195, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 203, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 212, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 216, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 220, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 223, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 229, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 232, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 237, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 241, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 245, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 249, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 252, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 255, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 258, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 261, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 265, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 271, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 275, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 278, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 283, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 286, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 320, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/* line 324, ../sass/pages.scss */
body.page-node-3 .tabs.primary {
  display: none;
}
